<h1>Meus times</h1>
<% for (let i=0; i < teams.length; i++) { %>
    <ul>
        <li>
            <div>
                <p>
                    <%= teams[i].name %>
                </p>
                <a href="#">Ver participantes</a>
                <a href="#">Enviar convite</a>
                <a href="/team/exit?teamId=<%=teams[i].id%>">Sair</a>
            </div>
        </li>
    </ul>
<% } %>
