<h1>
    <% if (user.id == query.userId) { %>
        Meus
    <% } else { %>
        Seus
    <% } %>
    times</h1>
<% for (let i=0; i < teams.length; i++) { %>
    <ul>
        <li>
            <div>
                <p>
                    <%= teams[i].name %>
                </p>
                <a href="/team/participants?teamId=<%=teams[i].id%>">Ver participantes</a>
                <% if (user.id === teams[i].boosId) { %>
                    <a href="/team/delete?teamId=<%=teams[i].id%>">Apagar time</a>
                <% } %>
                <a href="/team/exit?teamId=<%=teams[i].id%>">Sair</a>
            </div>
        </li>
    </ul>
<% } %>
