<h1>Agenda</h1>
<form method="post">
    <label for="date">Data</label>
    <input type="datetime-local" name="date" id="date">
    <input type="hidden" name="teamId" value="<%=query.teamId%>">
    <input type="submit" value="Alocar">
</form>
