<h1>Entrar</h1>

<form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Digite seu email">
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" placeholder="Digite sua senha">
    <input type="submit" value="Entrar">
    <a href="/register">Não possui uma conta? Cadastre-se</a>
</form>
